<!DOCTYPE html>
<html>

<head>
<style> .center {

  border: 5px solid green;
  padding: 0px;
}

.wrapper {
    text-align: center;
}

.button {

    top: 60%;
    left: 47.5%;
}
</style>

<title>Kostka</title>
<meta charset="utf-8">
</head>
<body bgcolor="#91f8ff">
    <font size="8">Kostky!</font><img src="/static/img/kostky.png" width = "130px" align="top">
    <center><font size="7"><h3>Hodil jsi:</h3></font></center>

    <center><img src= {{ hod }} class="center"></img></center>


    <div class="wrapper">
<button class="button" onClick="window.location.reload();">Hoď znova</button>
</div>
<a href="thelavk/kostka/templates/vspc.html">Hodit si kostkou</a>
</body>
</html