<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Kámen, nůžky, papír</title>
</head>
<center>
<body>

    <h1>Kámen, nůžky, papír</h1>
<div class = ramecek2>
    <br />
    <br />
    <div class = hrac> Hráč: <u>{{ hrac }}</u></div>
    <div class = pocitac> Počítač: <u>{{ pocitac }}</u></div>
    <div>__________________</div>
    <br />
    <p class={{ skore }}> {{ skore }} </p>
    <br />
    <br />
    <div> <a href="">Opakovat hod</a> </div>
    <div> <a href="/">Nový hod</a> </div>
</div>
</body>
</center>
</html>