<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Kámen, nůžky, papír</title>
</head>
<center>
<body>
    <h1>Kámen, nůžky, papír</h1>
    <u><div> Hoď: </div></u>
    <p></p>
    <p></p>
<div class = ramecek1>
   <u> <div class = kamen>Kámen: </div>
    <div><a href="/kamen"> <img alt="Kámen" src="static/rock.png" width="155" height="140"> </a></div>
    <div class = nuzky>Nůžky: </div>
    <div><a href="/nuzky"> <img alt="Nůžky" src="static/scissors.png" width="140" height="140"> </a></div>
    <div class = papir>Papír: </div>
    <div><a href="/papir"> <img alt="Papír" src="static/paper.png" width="140" height="140"> </a></div>
   </u>
</div>
<div class = upo> Klikni na obrázek... </div>
</body>
</center>
</html>